html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Arial', 'Verdana', sans-serif;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  background-color: #070217;
}

.main-content__logo,
.main-content__links {
  margin-bottom: 50px;
}

.main-content__url {
  font-weight: 700;
  font-size: 18px;
  color: #3f2aff;
  background-image: url('../img/download.png');
  background-repeat: no-repeat;
  padding-left: 30px;
  background-size: contain;
}

.main-links__url {
  padding: 24px 49px;
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  background-color: #3f2aff;
}

.main-links__url:not(:last-child) {
  margin-right: 25px;
}

.container {
  margin: 0 auto;
  padding: 80px 0;
  width: 1170px;
}

.title, .text {
  margin: 0;
}

.list {
  padding-left: 0;
  margin: 0;
}

.container__title,
.text:not(:last-child) {
  margin-bottom: 40px;
}

.container__title {
  font-weight: 400;
  font-size: 60px;
  color: #333333;
}

.text {
  width: 872px;
}

.text--is-last {
  margin-bottom: 0;
}

.text--is-result {
  border-radius: 20px;
  padding: 50px 95px;
  width: 100%;
  font-weight: 700;
  font-size: 30px;
  color: #ffffff;
  background-color: #3f2aff;
}

.container__gray {
  margin-bottom: 40px;
}

.container__gray--is-last,
.container__gray--is-last .gray__text {
  margin-bottom: 0;
}

.gray {
  border-radius: 20px;
  padding: 30px;
  background-color: #f3f3f3;
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.gray__text {
  width: 692px;
  margin-bottom: 10px;
}

.title--is-h2,
.title--is-h3 {
  margin-bottom: 10px;
}

.title--is-h2 {
  font-size: 40px;
  line-height: 46px;
  color: #333333;
}

.title--is-h3 {
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: #333333;
}

.gray--is-decored {
  background-image: url(../img/decorate-1.png);
}

.container__gray--is-last.gray--is-decored {
  background-image: url(../img/decorate-2.png);
}

.gray .list {
  padding-left: 15px;
}

.list__item:not(:last-child) {
  margin-bottom: 20px;
}

.list__item::marker {
  color: #3f2aff;
}

.list__link {
  border-bottom: 1px solid #3f2aff;
  font-size: 20px;
  color: #3f2aff;
}

.pic {
  display: inline-block;
  width: 872px;
  font-size: 0;
  margin: 0;
}

.pic:not(:last-child) {
  margin-bottom: 40px;
}

.photo {
  margin-bottom: 40px;
}

.pic .photo {
  margin-bottom: 0;
}

.pic__ann {
  padding-top: 19px;
  padding-bottom: 19px;
  border: 1px solid #b6b6b6;
  border-top: unset;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

.container__basics,
.container__nextelindents,
.container__siblingselindents,
.container__lastelindents,
.container__example {
  margin-bottom: 40px;
}

picture[class*='__pic']:last-child > .photo{
  margin-bottom: 0;
}
