html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: 'font', sans-serif;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  background-color: #070217;
}

.main-content__logo,
.main-content__links {
  margin-bottom: 50px;
}

.main-links__url {
  padding: 24px 49px;
  display: inline-block;
}

.main-links__url:not(:last-child) {
  margin-right: 25px;
}

.container {
  margin: 0 auto;
  padding: 80px 0;
  width: 1170px;
}

.title, .text {
  margin: 0;
}

.list {
  padding-left: 0;
  margin: 0;
}

.container__title,
.text {
  margin-bottom: 40px;
}

.text {
  width: 872px;
}

.text--is-last {
  margin-bottom: 0;
}

.container__gray {
  margin-bottom: 40px;
}

.container__gray--is-last,
.container__gray--is-last .gray__text {
  margin-bottom: 0;
}

.gray {
  border-radius: 20px;
  padding: 30px;
  background-color: #f3f3f3;
}

.gray__text {
  width: 692px;
  margin-bottom: 10px;
}

.gray__title--is-h2,
.gray__title--is-h3 {
  margin-bottom: 10px;
}

.gray .list {
  padding-left: 15px;
}

.list__item:not(:last-child) {
  margin-bottom: 20px;
}

.pic {
  display: inline-block;
  margin: 0 0 40px;
  width: 872px;
}

.photo {
  margin-bottom: 40px;
}

.pic .photo {
  margin-bottom: 0;
}
